{% extends 'opciones/a-formulario.html' %}
{% block id %}view-espectrograma-mel{% endblock id %}
{% block titulo_parametros %}Parámetros del espectrograma de Mel{% endblock titulo_parametros %}
{% block hidden_value %}espectrograma_mel{% endblock hidden_value %}
{% block form %}
    {% include 'opciones/base-form.html' with form_base=form_espectrograma_mel %}
    {% include 'opciones/base-espectrograma.html' with form_base=form_espectrograma_mel %}
{% endblock form %}
{% block include %}{% include 'opciones/a-paginacion_audio.html' with id_paginacion='paginacion-espectrograma-mel' %}{% endblock include %}
{% block titulo_visualizador %}Espectrograma de Mel{% endblock titulo_visualizador %}