{% extends 'opciones/a-formulario.html' %}
{% block id %}view-mfcc-amplitud{% endblock id %}
{% block titulo_parametros %}Parámetros de MFCCs (generados desde la serie de tiempo de la amplitud){% endblock titulo_parametros %}
{% block hidden_value %}mfcc_amplitud{% endblock hidden_value %}
{% block form %} 
    {% include 'opciones/base-form.html' with form_base=form_mfcc_amplitud %}
    {% include 'opciones/base-mfcc.html' with form_base=form_mfcc_amplitud %}
{% endblock form %}
{% block titulo_visualizador %}Coeficientes cepstrales en la frecuencia de Mel (obtenido de la serie de tiempo de la amplitud){% endblock titulo_visualizador %}