{% extends 'opciones/a-formulario.html' %}
{% block id %}view-serie-tiempo-amplitud{% endblock id %}
{% block titulo_parametros %}Parámetros de la serie de tiempo de la amplitud{% endblock titulo_parametros %}
{% block hidden_value %}amplitud{% endblock hidden_value %}
{% block form %} 
    {% include 'opciones/base-form.html' with form_base=form_serie_tiempo_amplitud %}
{% endblock form %}
{% block include %}{% include 'opciones/a-paginacion_audio.html' with id_paginacion='paginacion-serie-tiempo-amplitud' %}{% endblock include %}
{% block titulo_visualizador %}Serie tiempo amplitud{% endblock titulo_visualizador %}